*{margin:0;padding: 0;}
html{font-size: 30px;font-family: 'Pacifico', cursive;
}
@charset "utf-8";
/*Contenedor*/
#content{
	width: 87.5%;
	margin-right: auto;
	margin-left: auto;
}
/*Header*/
#header{
	background-color: olive ;
	border: solid;
	height: 160px;
	color: black;
	position: sticky;
	top: 0;
	z-index: 999;
}

#header .logo img{width: 100%;}
/*la imagen tiene el 100% de .logo que mide 70px*/
.logo{ width: 300px;
	position: absolute;
	top: -40px;
	left: 10px;
}

.Titulo{
font-size: 100%;
	position: absolute;
	 left: 22% ;
		top: 30%;}


#menuPrincipal{position: fixed;top: %;
	right: 6.2%;
	border: solid;
	background-color:olive;
	text-align: right;
	}
	/*anidacion de selectores*/
	#menuPrincipal ul{
		list-style-type: none;
		padding: 0;
	}
	#menuPrincipal ul li{
		/*float: left;*/
		display: inline-block;
		 
	}
	#menuPrincipal ul li a{
		color: black;
		display: block;
		padding: 15px;
		text-decoration: none;
	}
	/*pseudo-clase :hover*/
	#menuPrincipal ul li a:hover{
		background: gray;
		color: white ;
		bottom: onclick; 
		/*cursor: pointer;*/
	}




	


.segundo{
	background: grey;
	width: 50%;
	font-size-adjust: 12%;
	height: 350px;
	padding: 1%;
	box-sizing: border-box;
	border: solid;
	float: left;
}
.tercero{
	background: grey;
	width: 50%;
	font-size-adjust: 12%;
	height: 350px;
	padding: 1%;
	box-sizing: border-box;
	border: solid;
	float: left;
}
#footer{
	clear: both;
	height: 60px;
	background: olive;
	text-align: center;

}
.logo{
	font-size: green;

}

.logo:hover{color: yellow}

.clear{
	clear: both;
}